 html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      position: relative;
    }

     .BasemapSwitcher-container {
      position: absolute;
      top: 16px;
      margin-left: calc(100% - 450px);
      width: 150px;
      height: 50px;
      max-height: calc(100vh - 120px);
      overflow: hidden;
      z-index: 20000;
    }

  @media only screen and (max-width: 759px) {
    .BasemapSwitcher-container {
        position: absolute;
        top: 16px;
        margin-left: calc(100% - 160px);
        width: 150px;
        height: 50px;
        max-height: calc(100vh - 120px);
        overflow: hidden;
        z-index: 20000;
      }
  }


  @media (max-width: 1281px) {
    .BasemapSwitcher-container {
        position: absolute;
        top: 16px;
        margin-left: calc(100% - 455px);
        width: 150px;
        height: 50px;
        max-height: calc(100vh - 120px);
        overflow: hidden;
        z-index: 20000;
      }
  }
  @media (min-width: 1280px) {
    .BasemapSwitcher-container {
        position: absolute;
        top: 16px;
        margin-left: calc(100% - 525px);
        width: 150px;
        height: 50px;
        max-height: calc(100vh - 120px);
        overflow: hidden;
        z-index: 20000;
      }
  }

  .CDB-Widget-header{
    margin-right: 24px;
    margin-left: 10px;
    margin-top: -10px;
  }