 html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      position: relative;
    }

     .BasemapSwitcher-container {
      position: absolute;
      top: 16px;
      margin-left: calc(100% - 37vw);
      width: 150px;
      height: 50px;
      max-height: calc(100vh - 120px);
      overflow: hidden;
      z-index: 20000;
    }

  @media only screen and (max-width: 759px) {
    .BasemapSwitcher-container {
        position: absolute;
        top: 16px;
        margin-left: calc(100% - 160px);
        width: 150px;
        height: 50px;
        max-height: calc(100vh - 120px);
        overflow: hidden;
        z-index: 20000;
      }
  }


  @media (min-width: 760px) and (max-width: 1281px) {
    .BasemapSwitcher-container {
        position: absolute;
        top: 5vh;
        margin-left: calc(100% - 53vw);
        overflow: hidden;
        z-index: 20000;
      }
  }

  @media (min-width: 601px) and (max-width: 759px) {
    .BasemapSwitcher-container {
        position: absolute;
        top: 4vh;
        margin-left: calc(100% - 27vw);
        overflow: hidden;
        z-index: 20000;
      }
  }

  @media (max-width: 600px){
    .BasemapSwitcher-container {
    position: absolute;
    top: 14vh;
    margin-left: calc(100% - 27vw);
    overflow: hidden;
    z-index: 20000;
}

  }

  @media (min-width: 1280px) {
    .BasemapSwitcher-container {
        position: absolute;
        margin-left: 64%;
        top: 16px;       
        overflow: hidden;
        z-index: 20000;
      }
  }

  .CDB-Widget-header{
    margin-right: 24px;
    margin-left: 10px;
    margin-top: -10px;
  }

  p{
    margin-bottom: 0rem !important;

  }